h1.title {
    color: #1b7c9d;
    border-color: #1b7c9d;
    border-top: 6px solid #1b7c9d;
    border-bottom: 6px solid #1b7c9d;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

h2.sub-title {
    color: black;
    border-color: black;
    border-top: 2px solid;
    border-bottom: 2px solid;
}

/* SplitBox CSS '*/
.split-box {
    display: flex;
    background: #badbec;
    margin: 1em 0;
    overflow: hidden;
}

.split-left {
    flex: 0 0 18%;
    padding: 10px;
    background: #badbec;
    border-right: 2px solid white;
    text-align: center;
}

.split-left img {
    max-width: 100%;
    height: auto;
}

.split-right {
    flex: 1;
    padding: 5px;
    background: #badbec;
}

/* Table CSS */
.table-colored table {
    width: 100%;
    border-collapse: collapse;
}

.table-colored th {
    background-color: #6f7377ff;
    color: white;
}

.table-colored th,
.table-colored td {
    padding: 6px 10px;
    border: 1px solid #ccc;
}


.table-colored table tr:last-child {
    background-color: #6f7377ff;
    color: white;
}